.header{
    display: flex;
    justify-content: space-between;
    border: 5px;
    align-items: center;
}

.action-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-div a{
    margin: 20px;
    color: black;
    
}



