.header{
    display: flex;
    justify-content: space-between;
}

.action-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-div a{
    margin: 20px;
    color: black;
    
}

body{
    background-color: aquamarine;
}

.separator{
    color: black;
}