.header{
    display: flex;
    justify-content: space-between;
}

.action-div{
    display: flex;
    justify-content: space-between;
}

.action-div button{
    margin: 5px;
    border-radius: 90px;
}

body{
    background-color: aquamarine;
}